.left-side {
    background: #001030;
    color: white;
    height: 75vh;

    .left-side-top {
        padding: 20px;

        .left-side-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                max-width: 140px;
            }

            .menu {
                position: relative;
                padding: 10px 0;

                img {
                    max-height: 20px;
                    opacity: 0.6;
                    cursor: pointer;

                }

                .sub-menu {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    width: 130px;
                    padding: 20px;
                    border-radius: 5px;
                    background-color: white;
                    color: black;
                    display: none;

                    hr {
                        border: none;
                        height: 1px;
                        background: #a4a4a4;
                        margin: 8px 0;
                    }

                    p {
                        cursor: pointer;
                        font-size: 14px;
                    }
                }
            }

            .menu:hover .sub-menu {
                display: block;
            }
        }

        .left-side-search {
            background-color: #002670;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 12px;
            margin-top: 20px;

            img {
                width: 16px;
            }

            input {
                background: transparent;
                border: none;
                outline: none;
                color: white;
                font-size: 11px;
            }

            input::placeholder {
                color: #C8C8C8;
            }
        }
    }

    .left-side-list {
        display: flex;
        flex-direction: column;
        height: 70%;
        overflow-y: scroll;

        .friends {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 13px;

            img {
                width: 35px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }

            div {
                display: flex;
                flex-direction: column;

                span {
                    color: #9f9f9f;
                    font-size: 11px;

                }
            }
        }

        .friends:hover {
            background-color: #077EFF;
        }

        .friends:hover span {
            color: white;
        }

        .friends .border img{
            border: 3px solid #07fff3;
        }

        .friends .border div span {
            color: #07fff3;
        }
    }
}