.login-container {
    min-height: 100vh;
    background: url(/public/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo {
        width: max(20vh, 250px);
    }

    .login-form {
        background-color: #fff;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;

        h2 {
            font-weight: 600;
        }

        .form-input {
            padding: 8px 10px;
            border: 1px solid #c9c9c9;
            border-radius: 4px;
            outline-color: #077EFF;
        }

        .password-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                padding-right: 40px;
                /* Add padding to the right for the eye icon */
            }

            .eye-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                color: #888;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .eye-icon:hover {
                color: #333;
            }
        }

        button {
            padding: 10px;
            background-color: #077EFF;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .login-term {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            color: #808080;
        }

        .login-forgot {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .login-toggle {
                font-size: 13px;
                color: #5c5c5c;

                span {
                    font-weight: 500;
                    color: #077EFF;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}