.right-side-bar-container {
    color: white;
    background: #001030;
    position: relative;
    height: 75vh;
    overflow-y: scroll;

    .right-side-profile {
        padding-top: 60px;
        text-align: center;
        max-width: 70%;
        margin: auto;

        img:first-child {
            width: 110px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin: 5px 0;
        }

        p {
            font-size: 12px;
            opacity: 80%;
            font-weight: 300;
            line-height: 1rem;
        }
    }

    hr {
        border-color: #ffffff50;
        margin: 15px 0;
    }

    .right-side-media {
        padding: 0 20px;
        font-size: 13px;

        div {
            max-height: 180px;
            overflow-y: scroll;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            margin-top: 10px;

            img {
                width: 70px;
                height: 70px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                    transform: scale(0.98);
                    transition: 0.4s ease-in-out;
                    border-radius: 5px;
                    
                }
            }

        }
    }

    button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: #077eff;
        color: white;
        border: none;
        font-size: 12px;
        font-weight: 300;
        padding: 12px 80px;
        border-radius: 20px;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .right-side-bar-container {
        display: none;
    }
}