.profile-update-main-container {
    min-height: 100vh;
    background: url(/background.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-inner-container {
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 700px;
        border-radius: 10px;

        .profile-pic {
            max-width: 160px;
            aspect-ratio: 1/1;
            margin: 20px auto;
            border-radius: 50%;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 40px;

            h3 {
                font-weight: 600;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: grey;
                cursor: pointer;

                img {
                    width: 50px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }

            input, textarea {
                padding: 10px;
                min-width: 300px;
                border: 1px solid #c9c9c9;
                outline: #077eff;
            }

            button {
                border: none;
                color: white;
                background-color: #077eff;
                padding: 8px;
                font-size: 16px;
                cursor: pointer;
            }

        }
    }
}