/* index.css */
body {
  margin: 0;
  padding: 0;

}

/* This ensures that all elements use the border-box model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Improve text rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Remove default margin on certain elements */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Make images responsive by default */
img {
  max-width: 100%;
  height: auto;
}

/* Optional: Set default focus styles */
:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

/* Optional: Improve button styling */
button {
  cursor: pointer;
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}

img.dot {
  width: 15px !important;
}

